[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "~=2.1"
pymysql = "*"
mysqlclient = {path = "./mysqlclient-1.4.2-cp36-cp36m-win32.whl"}
autoenv = "*"

[requires]
python_version = "3.6"
