{# posts/templates/posts_detail.html #}

<!DOCTYPE html>
<html>
<head>
<title>{{ posts.posts_name }} | 發文系統</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" integrity="sha256-v5YlJGWVLS5hQ+o48fBzCKHEP2vMNsku57x3CosYykc=" crossorigin="anonymous" />
</head>

<body>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">午餐系統</a>
    </div>
  </div>
</nav>

<div class="container">
  <h1>{{ store.name }}</h1>
  <p>{{ store.notes }}</p>
  <table class="table">
    <thead>
      <tr><th>品項</th><th>單價</th></tr>
    </thead>
    <tbody>
      {% for item in store.menu_items.all %}
      <tr><td>{{ item.name }}</td><td>{{ item.price }}</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>