<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{% block title %}發文系統{% endblock title %}</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" integrity="sha256-v5YlJGWVLS5hQ+o48fBzCKHEP2vMNsku57x3CosYykc=" crossorigin="anonymous" />
</head>
<body>
{% block body %}
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="container">
          <div class="navbar-brand">
              <a class="navbar-item" href="{% url 'home' %}">發文系統</a>
          </div>
              <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'posts_list' %}">發文列表</a>
      </div>
      </div>
  </nav>
{% endblock body %}
</body>
</html>
{% comment %} Block-endblock tag 是 Django 用來標注某個區塊可以被 override 的語法。 {% endcomment %}