{# posts/templates/posts/store_list.html #}
{% extends 'posts/base.html' %}

{% block title %} 發文列表 | {{ block.super }} {% endblock title %}

{% block content %}
  {% comment %} <a href="{% url 'posts_create' %}" class="btn btn-default">建立文章</a> {% endcomment %}

  {% for post in posts %}
    <div class="post">
      <h2>
        {% comment %} <h2><a href="{% url 'posts_detail' %}">{{ posts.name }}</a></h2> {% endcomment %}
        <a href="{{ post.get_absolute_url }}">{{ post.post_name }}</a>
      </h2>
      <p>{{ post.post_name_id }}</p>
    </div>
  {% endfor %}

{% endblock content %}
